
.book-card-img{
    width: 100%;
    background-color: #d3d3d363;
}



.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}


.tree-dirs-ul, .tree-files-ul{
    list-style-type: none;
}
