
.book-card-img{
    width: 100%;
    background-color: #d3d3d363;
}



.sticky {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}


.tree-dirs-ul, .tree-files-ul{
    list-style-type: none;
}

.single-book-img{
    max-width:100%;
    max-height:100%;
}


.book-card-img-a{
    width: 100%;
    display: inline-block;
    height: 100%;
}
